API_PHIMAPI=https://phimapi.com
API_NGUONC=https://phim.nguonc.com
API_OPHIM1=https://ophim1.com
API_OPHIM=https://ophim1.com
API_ANIMAPPER=https://api.animapper.net/api/v1

NEXT_PUBLIC_ADMIN_PASSWORD=

LATEST_SYNC_PAGES=2
FULL_SYNC_PAGES=5
MAX_FULL_PAGES=20
CATEGORY_PAGE_SIZE=24
MAX_MOVIES=100
MIN_MOVIES_PER_SOURCE=10
